body {
  background-color: skyblue;
  background-image: url("sparkle.png");
}
  #myCanvas
  {
     border: 20px ridge gainsboro;
      background-color: whitesmoke;
      float: left;
      
  }
  button {
    border-radius: 16px;
    width: 100px;
    height: 30px;
  }
  #black_marker {
    background-color:black;
    color:aliceblue;
  }
  #green_marker {
    background-color: springgreen;
    color: black;
  }
  #red_marker {
    background-color: red;
    color: midnightblue;

  }
  #blue_marker {
    background-color: skyblue;
    color: mintcream;
  }
  #duster {
    background-color: yellow;
    color: black;
  }